* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

/* Banner background */
.banner {
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    width: 100%;
    height: 100vh;
}

/* banner element sizeing */
.banner-container {
    padding-top: 216px;
    padding-right: 230px;
    text-align: right;
}

/* banner text part */
.banner-text-head {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.banner-text-des {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}

.first-btn {
    font-weight: 600;
    font-size: 20px;
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    color: white;
    border: none;
    border-radius: 5%;
}

/* failure section */
.failure {
    display: flex;
    margin: 130px 322px 130px 206px;
    align-items: center;
    align-content: space-around;
}

.failure-writing,
.tick-para {
    padding-left: 260px;
}

.failure-writing h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.failure-writing p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    justify-content: space-between;
}

.tick-para {
    display: flex;
}

.tick-para ul {
    padding-left: 0px;
}

.tick-para>ul>li {
    list-style: none;
    margin-left: none;
    margin-bottom: 8px;
}

.tick-para>ul>li>i {
    padding-right: 20px;
}

/* plans section */
.plans {
    margin: 130px 230px;
    text-align: center;
}

.plans>h2 {
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}

.plan-content {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.individual-plan>h3 {
    font-weight: 700;
    font-size: 30px;
}

.individual-plan>p {
    font-weight: 500;
    font-size: 25px;
}