* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

/* Banner background */
.banner {
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    width: 100%;
    height: 100vh;
}

/* banner element sizeing */
.banner-container {
    padding-top: 180px;
    padding-right: 100px;
    text-align: right;
}

/* banner text part */
.banner-text-head {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.banner-text-des {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}

.first-btn {
    font-weight: 600;
    font-size: 20px;
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    color: white;
    border: none;
    border-radius: 5%;
}

/* failure section */
.failure {
    display: flex;
    margin: 130px 100px;
    align-items: center;
    align-content: space-around;
}

.failure-writing,
.tick-para {
    padding-left: 180px;
}

.failure-writing h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 24px;
}

.failure-writing>p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    justify-content: space-between;
}

.tick-para {
    display: flex;
}

.tick-para ul {
    padding-left: 0px;
}

.tick-para>ul>li {
    list-style: none;
    margin-left: none;
    margin-bottom: 8px;
}

.tick-para>ul>li>i {
    padding-right: 20px;
}

/* plans section */
.plans,
.extra-plan {
    margin: 130px 180px;
    text-align: center;
}

.plan-header {
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}

.plan-content {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.individual-plan {
    font-weight: 700;
    font-size: 20px;
}

.individual-plan {
    font-weight: 500;
    font-size: 25px;
}

/* gradiant task */

.gradiant {
    background-image: url('../images/watch.png'), url('../images/gradient3.png');
    background-blend-mode: lighten, darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 82%;
    height: 35vh;
    margin: 130px 100px 40px 130px;
    border: none;
    border-radius: 8px;
}

.grad-text {
    text-align: left;
    padding: 40px 64px;
}

.grad-text>h2 {
    font-weight: 700;
    font-size: 32px;
    color: white;
}

.second-btn {
    color: #F15B22;
    margin-top: 25px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 20px 36px;
    border: none;
    border-radius: 5%;
}

/* footer task */

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.footer-h {
    padding-top: 130px;
    font-weight: 700;
    font-size: 35px;
}

.future>P {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
}

.hyper{
    margin: 30px 0px;
    text-decoration: none;
}
#inmail{
    color: black;
    background-color: black;
    border: 1px white solid;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px 55px 20px 0px;
    
}
::placeholder{
    color: white;
}
